h1{
     color:brown;

}
h3{
    color:blue
}
p {
  font-size: 20px;
}
* {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
#para2 {
  font-weight: bold;
}
/* .class-selector {
  color:green;
} */
h1,
h3,
p {
  font-style: italic;
}